// Set your brand colors

$text-color: rgba(255, 255, 255, 0.87);
$background-color: #242424;
$text-color-light: #213547;
$background-color-light: #eeeeee;


$main-color: rgb(70,69,5);
$second-color: rgb(50,67,115);
$text-disabled: #999;

$nav-bg-color: #d0d1cd;
$nav-drop-bg-color: #eff0eb; // #f9f9f9;

$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

$error-primary: #ff0033;
$error-secondary: rgb(255, 212, 209);

$bp-small: 560px;


$link: $main-color;
$link-visited: $main-color;
$link-hover: darken($main-color, 15%);
