@charset "utf-8";

@import "_custom-variables.scss";

@font-face {
  font-family: "Arrus-BT-Bold";
  src: url("/assets/webfonts/Arrus-BT-Bold_4573.ttf") format("truetype");
}

html, body {
	position: relative;
	width: 100%;
	min-height: 100%;
	font-size: 16px;
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

* {
	margin: 0;
	padding: 0;
}

body {
	color: $text-color;
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

a,
a:visited {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: $text-disabled;
}

.purple {
	color: purple;
}